# Ignorar la carpeta .vs generada por Visual Studio
.vs/

# Ignorar archivos de compilación y archivos temporales
*.log
*.dll
*.exe
/temp/
logs/

# Ignorar archivos de configuración sensibles
appsettings.json
secret-keys.txt
