
services:
  service-config:
    image: nacos/nacos-server:v2.0.3
    container_name: service-config
    environment:
      - MODE=standalone
    ports:
      - 8848:8848
    networks:
      - unividaportalweb

  service-tracer:
    image: jaegertracing/all-in-one:1.6
    container_name: service-tracer    
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
      - "5775:5775/udp"
      - "6831:6831/udp"
      - "6832:6832/udp"
      - "5778:5778"
      - "16686:16686"
      - "14268:14268"
      - "14250:14250"
      - "9411:9411"
    networks:
      - unividaportalweb

  service-metrics:
    image: prom/prometheus:v2.31.1
    container_name: service-metrics
    ports:
      - 9090:9090
    volumes:
      - c:/Users/USUARIO/documents/02.- prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - unividaportalweb

  service-analytics:
    image: grafana/grafana:8.2.3
    container_name: service-analytics
    ports:
      - 3100:3000
    networks:
      - unividaportalweb

networks:
  unividaportalweb:
    name: portalweb
