services:
  nginx_proxy:
    build:
      context: ./UNIVidaPortalWeb.ProxyInverso 
      dockerfile: Dockerfile
    container_name: nginx_proxy
    ports:
      - "6000:6000"  # HTTPS para gateway_externo
      - "6001:6001"  # HTTPS para gateway_interno
    networks:
      - unividaportalweb
    volumes:
      - ./UNIVidaPortalWeb.ProxyInverso/nginx.conf:/etc/nginx/nginx.conf
      - ./UNIVidaPortalWeb.ProxyInverso/certs:/etc/nginx/certs
    restart: always

  gateway_externo:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.GatewayExterno/Dockerfile
    container_name: gateway_externo
    ports:
      - "5000:80"
    networks:
      - unividaportalweb

  gateway_interno:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.GatewayInterno/Dockerfile
    container_name: gateway_interno
    ports:
      - "5001:80"
    networks:
      - unividaportalweb

  seguridad:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Seguridad/Dockerfile
    container_name: seguridad
    ports:
      - "5002:80"
    networks:
      - unividaportalweb

  cms:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Cms/Dockerfile
    container_name: cms
    environment:
      - ASPNETCORE_URLS=http://+:80
    ports:
      - "5003:80"
    networks:
      - unividaportalweb

  noticias:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Noticias/Dockerfile
    container_name: noticias
    ports:
      - "5004:80"
    networks:
      - unividaportalweb

  convocatorias:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Convocatorias/Dockerfile
    container_name: convocatorias
    ports:
      - "5005:80"
    networks:
      - unividaportalweb

networks:
  unividaportalweb:
    name: portalweb
