
services:
  gateway_externo:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.GatewayExterno/Dockerfile
    container_name: gateway_externo
    ports:
      - "5000:5000"
    networks:
      - unividaportalweb

  gateway_interno:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.GatewayInterno/Dockerfile
    container_name: gateway_interno
    ports:
      - "5001:5001"
    networks:
      - unividaportalweb

  seguridad:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Seguridad/Dockerfile
    container_name: seguridad
    ports:
      - "5002:5002"
    networks:
      - unividaportalweb

  cms:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Cms/Dockerfile
    container_name: cms
    ports:
      - "5003:5003"
    networks:
      - unividaportalweb

  noticias:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Noticias/Dockerfile
    container_name: noticias
    ports:
      - "5004:5004"
    networks:
      - unividaportalweb

  convocatorias:
    build:
      context: .
      dockerfile: UNIVidaPortalWeb.Convocatorias/Dockerfile
    container_name: convocatorias
    ports:
      - "5005:5005"
    networks:
      - unividaportalweb

networks:
  unividaportalweb:
    name: portalweb