version: "3.5"

services:
  config:
    image: nacos/nacos-server:v2.0.3
    container_name: service-config
    environment:
      - MODE=standalone
    ports:
      - 8848:8848
    networks:
      - unividaportalweb

  service-tracer:
    image: jaegertracing/all-in-one:latest
    container_name: service-tracer
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411
    ports:
      - 5775:5775/udp
      - 6831:6831/udp
      - 6832:6832/udp
      - 5778:5778
      - 16686:16686
      - 14268:14268
      - 9411:9411
    networks:
      - unividaportalweb

networks:
  unividaportalweb:
    name: portalweb
